.destination{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    align-content: center;
    -webkit-box-shadow: 5px 3px 24px 23px rgba(201,185,201,0.23);
    -moz-box-shadow: 5px 3px 24px 23px rgba(201,185,201,0.23);
    box-shadow: 5px 3px 24px 23px rgba(201,185,201,0.23);
    background-color: var(--color-black-light);
    margin-top: 2rem;
    border: 2rem;
    border-radius: 2rem;
}


.destinations-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    
    justify-content: space-between;
   
    padding: 2rem 3rem;
    margin-top: 2rem;
    gap: 3rem;
    padding-left: 5rem;
  
    

}
.featured-destinations{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 40rem;
    border-radius: .3rem;
    background-color: var(--color-black-dark);
    border-radius: 2rem;
    
}

.image-wrapper{
    display: flex;    
    overflow: hidden;   
    max-width: 40rem;
    max-height: 40rem;
    border-radius: 2rem;
    
    border-radius: 0;
    
}
.image-wrapper img{
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: cover;
    border-radius: 2rem;

}

.icon-section{
    display: flex;
    padding: .2rem;
    gap: 2rem;
    max-width: 30rem;
    padding: 2rem;
    align-items: center;
    text-align: center;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 30rem;
    padding: 2rem 1rem;
}

.book{
    display: flex;
    justify-content: center;
    max-width: 30rem;
    padding: 2rem 1rem;
    align-self: center;
}
.book button{
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: var(--color-black);
    color: var(--color-white);
}
@media screen and (max-width: 83.875em){
    .destinations-section{
        gap: 2rem;
    }
    .featured-destinations{
        max-width: 35rem;
    }
    .image-wrapper{
        max-width: 35rem;
        max-height: 35rem;
    }
    .icon-section{
        max-width: 35rem;
    }
    .description{
        max-width: 35rem;
    }
    .book{
        max-width: 35rem;
    }
    
}
@media  screen and (max-width:71.875) {



    
}


@media screen and (max-width: 72.5em){
    .destinations-section{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .featured-destinations{
        max-width: 45rem;
    }
    .image-wrapper{
        max-width: 45rem;;
        max-height: 45rem;;
    }
    .icon-section{
        max-width: 45rem;;
    }
    .description{
        max-width: 45rem;;
    }
    .book{
        max-width: 45rem;;
    }

    
}

@media screen and (max-width: 72.5em){
    .destinations-section{
        gap: 2rem;
    }
    .featured-destinations{
        max-width: 35rem;
    }
    .image-wrapper{
        max-width: 35rem;;
        max-height: 45rem;;
    }
    .icon-section{
        max-width: 35rem;;
    }
    .description{
        max-width: 35rem;;
    }
    .book{
        max-width: 35rem;;
    }

    
}
@media screen and (max-width: 39.1875em){
    .destinations-section{
       display: flex;
         flex-direction: column;
        gap: 2rem;
    }
    .featured-destinations{
        max-width: 40rem;
    }
    .image-wrapper{
        max-width: 40rem;
        max-height: 30rem;
    }
    .icon-section{
        max-width: 40rem;
    }
    .description{
        max-width: 40rem;
    }
    .book{
        max-width: 40rem;
    }
    
}