
.footer{
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
  
}
.footer-details{
    display: flex;
    justify-content: space-around;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 1rem;
    padding: 3rem;
}
.help ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transform: capitalize;
}

.help a{
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 1.5rem;
}

.support ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
}
.support ul li a{
    color: var(--color-white);
    text-decoration: none;
    font-weight: 700;
    
}

.copy{
    display: flex;
   align-self: center;
    background-color: var(--color-black);
    color: var(--color-white);    
    text-align: center;
}
.copy a{
    text-decoration: none;
    color: var(--color-white);
}
.blog ul li a{
    text-decoration: none;
    color: var(--color-white);

}
.blog ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
}

.quick-links ul li a{
    text-decoration: none;
    color: var(--color-white);
}
.quick-links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
}

h3{
    padding-bottom: 2rem;
}

@media screen and (max-width: 768px){
    .footer-details{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem;
        gap: 3rem;
        font-size: 1.5rem;

    }
    
}